<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel='icon' href='/images/weather-img.jpg'>
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
    <div class='content'>
        {{>header}}
        <img src='images/images.jpg' class='portriat'>

    </div>


    {{>footer}}
</body>

</html>